# Puerto HTTP
PORT=3000

# Place ID de Roblox (NO el Universe ID)
ROBLOX_PLACE_ID=YOUR GAME ID

# API key de Roblox Open Cloud
ROBLOX_API_KEY=YOUR API
# Secreto compartido entre Roblox y este servidor
ROBLOX_TO_MANAGER_SECRET=YOUR SECRET YOU CAN GENERATE IT USING THE COMMAND 'openssl rand -base64 32' IN YOUR TERMINAL BTW

# Tiempo de caché / frecuencia aproximada de consulta a Open Cloud
CACHE_TTL_MS=12000
